:host {
  display: block;
}

.is-grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-scratching {
  cursor: pointer;
}

.is-transition {
  -webkit-transition: -webkit-transform 132ms linear;
  transition: transform 132ms linear;
}

.is-3d {
  transform-style: preserve-3d;
}

.component {
  position: absolute;
  height: 50px;
  width: 50px;
  backface-visibility: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.image {
  display: block;
  box-sizing: border-box;
}

.lock-icon {
  background-color: #CCCCCC;
  border-radius: 100%;
  color: #444;
  width: 25px;
  height: 25px;
  visibility: hidden;
}
.component:hover .lock-icon, .component:active .lock-icon {
  visibility: visible;
}

.scratching-icon {
  background-color: #CCCCCC;
  border-radius: 100%;
  color: #444;
  width: 25px;
  height: 25px;
  visibility: visible;
}
.component:hover .scratching-icon.mine, .component:active .scratching-icon.mine {
  visibility: hidden;
}

.is-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.image.border {
  border-width: 0px;
} 

.component:hover .border, 
.component:active .border,
.is-border .border {
  outline: 2px solid #CCC !important;
  outline-offset: -2px;
}

.is-fit-full {
  height: 100%;
  width: 100%;
}

.is-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.altitude-indicator {
  padding-left: 2px;
  font-size: 11px;
  font-weight: bolder;
  color: blanchedalmond;
  text-shadow: #444 0px 0px 3px;
  backface-visibility: hidden;
}

.fall {
  -webkit-transition: transform 132ms ease-in-out;
  transition: transform 132ms ease-in-out;
}

.text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bolder;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  font-size: 24px;
  color: #444;
  z-index: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 
  #fff 0px 0px 2px, 
  #fff 0px 0px 2px, 
  #fff 0px 0px 2px, 
  #fff 0px 0px 2px, 
  #fff 0px 0px 2px, 
  #fff 0px 0px 2px,
  #fff 0px 0px 2px,
  #fff 0px 0px 2px;
}

.is-inverse {
  transform: rotateZ(180deg);
}

.scratching-area {
  overflow: hidden;
}

.scratching-mark.scratch::after, .scratching-mark.scratch::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px; /* 棒の幅（太さ） */
  height: 46px; /* 棒の高さ */
  background-color: rgb(253, 120, 120);
  border-radius: 2px;
}
.scratching-mark.scratch::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.scratching-mark.scratch::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.scratching-mark.restore {
  border: 4px solid rgb(128, 157, 253);
  border-radius: 2px;
}