# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 2 versions
not dead
not kaios 2.5
not kaios 3.0-3.1
not op_mini all
not and_qq 14.9
not and_uc 15.5
not op_mob 80
not opera 127
not opera 131
not samsung 29
not samsung 30
not android 150
