<div>
  <div class="stand-container">
    <div class="stand-image-container">
      @if (standImage) {
        <div>
          <div [ngStyle]="{'transform': isApplyRoll ? 'rotate(' + gameCharacter.roll + 'deg)' : ''}">
            <div class="inverser" [ngClass]="{inverse: isApplyImageEffect && gameCharacter.isInverse}">
              <div class="aura" style="display: inline" [ngClass]="{black: isApplyImageEffect && gameCharacter.aura == 0, blue: isApplyImageEffect && gameCharacter.aura == 1, 
                green: isApplyImageEffect && gameCharacter.aura == 2, cyan: isApplyImageEffect && gameCharacter.aura == 3, red: isApplyImageEffect && gameCharacter.aura == 4,
                magenta: isApplyImageEffect && gameCharacter.aura == 5, yellow: isApplyImageEffect && gameCharacter.aura == 6, white: isApplyImageEffect && gameCharacter.aura == 7}">
                <img class="stand-image" (dblclick)="openModal()" [src]="standImage.url | safe: 'resourceUrl'" draggable="false"
                  [ngClass]="{'black-paint': isApplyImageEffect && gameCharacter.isBlackPaint, 'hollow': isApplyImageEffect && gameCharacter.isHollow}">
              </div>
            </div>
          </div>
          <button class="stand-image-button" (click)="openModal()" style="font-size: smaller; padding: 2px 3px;"><b>{{ isSpeakable ? '通常' : '' }}變更圖片</b></button>
          @if (isSpeakable) {
            <div style="position: absolute; margin-top: -26px; margin-left: 120px; font-size: 22px; filter: grayscale(100%); opacity: 0.5; cursor: default;">{{ isSpeaking ? '😃' : '🤐' }}</div>
          }
        </div>
      }
    </div>
    <div style="display: flex; flex-direction: column; padding-left: 3px; width: 100%">
      <div>
        @if (nameElement) {
          <span style="font-size: smaller;">
            <input type="text" style="width: 7em" [(ngModel)]="nameElement.value" placeholder="Name">
          </span>
        }
        @if (conditionTypeElement) {
          <b style="font-size: smaller">　Cond: </b><select style="width: 15.5em" [(ngModel)]="conditionTypeElement.value">
          <option value="{{ standConditionType.Default }}">預設</option>
          <option value="{{ standConditionType.Image }}">指定圖片</option>
          <option value="{{ standConditionType.Postfix }}">聊天末尾</option>
          <option value="{{ standConditionType.PostfixOrImage }}">聊天末尾 或 指定圖片</option>
          <option value="{{ standConditionType.PostfixAndImage }}">聊天末尾 且 指定圖片</option>
          <option value="{{ standConditionType.NotConditionStandUp }}">僅在選取時</option>
        </select>
      }
      @if (nameElement) {
        <div style="display: inline; font-size: smaller;">
          <b style="margin-left: 1em;">Tag: </b><input type="text" style="width: 3em" [(ngModel)]="nameElement.currentValue" placeholder="Tag">
        </div>
      }
    </div>
    <div>
      @if (showNameElement) {
        <label style="margin-right: 0.6em">
          <input type="checkbox" [(ngModel)]="showNameElement.value" checked="{{showNameElement.value ? 'checked' : ''}}" (change)="showNameElement.value = (showNameElement.value ? 'showName' : '')">
          <b style="font-size: smaller;">名稱標籤</b>
        </label>
      }
      @if (applyImageEffectElement) {
        <label style="margin-right: 0.6em">
          <input type="checkbox" [(ngModel)]="applyImageEffectElement.value" checked="{{applyImageEffectElement.value ? 'checked' : ''}}" (change)="applyImageEffectElement.value = (applyImageEffectElement.value ? 'applyImageEffect' : '')">
          <b style="font-size: smaller;">套用圖片效果</b>
        </label>
      }
      @if (applyRollElement) {
        <label style="margin-right: 0.6em">
          <input type="checkbox" [(ngModel)]="applyRollElement.value" checked="{{applyRollElement.value ? 'checked' : ''}}" (change)="applyRollElement.value = (applyRollElement.value ? 'applyRoll' : '')">
          <b style="font-size: smaller;">套用旋轉</b>
        </label>
      }
      @if (applyDialogElement) {
        <label style="margin-right: 0.2em">
          <input type="checkbox" [(ngModel)]="applyDialogElement.value" checked="{{applyDialogElement.value ? 'checked' : ''}}" (change)="applyDialogElement.value = (applyDialogElement.value ? 'applyDialog' : '')">
          <b style="font-size: smaller; text-shadow: #111 0 0 1px">💭</b>
        </label>
      }
      <button (click)="openSpeakingModal()" style="font-size: 9px" [style.font-weight]="isSpeakable ? 'bolder' : 'normal'">口型同步圖片（APNG等）</button>
      @if (positionElement) {
        <br><button style="font-size: 9px; margin-right: 1em;" (click)="testStandUp()"><b>測試（只有自己看見）<sup class="self-only">*</sup></b></button>
        <label style="margin-right: 0.3em;">
          <input type="checkbox" [(ngModel)]="positionElement.currentValue" checked="{{positionElement.currentValue ? 'checked' : ''}}" (change)="positionElement.currentValue = (positionElement.currentValue ? 'posSpecialize' : '')">
          <b style="font-size: smaller;">Pos個別指定: </b>
        </label>
        <span style="white-space: nowrap; font-size: smaller">
          <input style="width: 140px" type="range" [title]="positionElement.value + '%'" min="0" max="100" [(ngModel)]="positionElement.value" [disabled]="!positionElement.currentValue">
          <input style="width: 3em; text-align: right;" type="number" min="0" max="100" [(ngModel)]="positionElement.value" [disabled]="!positionElement.currentValue">
          <b style="display: inline-block; font-size: smaller; margin-left: 3px" [ngClass]="{'disabled-text': !positionElement.currentValue }">%</b>
        </span>
      }
      @if (heightElement) {
        <br><div style="display: inline; white-space: nowrap; font-size: smaller">
        <b style="display: inline-block; margin-left: 3px">Height (0=不指定): </b>
        <input style="width: 130px" type="range" [title]="heightElement.value ? heightElement.value + '%' : '不指定'" min="0" max="100" [(ngModel)]="heightElement.value">
        <input style="width: 3em; text-align: right;" type="number" min="0" max="200" [(ngModel)]="heightElement.value">
        <b style="display: inline-block; font-size: smaller; margin-left: 3px">%</b>
      </div>
      <div style="display: inline; white-space: nowrap; margin-left: 0.8em; font-size: smaller">
        <b style="display: inline-block; margin-left: 3px">AdjY: </b>
        <input type="number" min="-100" max="100" style="width: 3.4em; text-align: right" [(ngModel)]="heightElement.currentValue">
        <b style="display: inline-block; font-size: smaller; margin-left: 3px">%</b>
      </div>
    }
  </div>
  @if (postfixElement && (conditionTypeElement.value == standConditionType.Postfix || conditionTypeElement.value == standConditionType.PostfixOrImage || conditionTypeElement.value == standConditionType.PostfixAndImage)) {
    <div>
      <textarea [(ngModel)]="postfixElement.value" style="width: 100%; margin-top: 3px; height: 2.4rem" placeholder="每行一個，開頭@時從文字中截取&#13;&#10;@憤怒&#13;&#10;@必殺技"></textarea>
    </div>
  }
  @if (conditionTypeElement.value == standConditionType.Image || conditionTypeElement.value == standConditionType.PostfixOrImage || conditionTypeElement.value == standConditionType.PostfixAndImage) {
    <div>
      @if (imageList && imageList.length > 0) {
        <div style="display: flex; flex-wrap: wrap; margin-right: -30px;">
          @for (image of imageList; track image) {
            @if (0 < image.url.length) {
              <span style="display: block" class="icon-image-box" [ngClass]="{'current-icon': isSelectedImage(image.identifier)}">
                <img [src]="image.url | safe: 'resourceUrl'" style="cursor: pointer" [alt]="image.name" (click)="selectImage(image.identifier)" draggable="false" draggable="false" />
              </span>
            }
          }
        </div>
      }
      @if (!imageList || imageList.length == 0) {
        <div><b style="font-size: smaller; color: red">尚未設定角色圖片或大頭照 icon</b></div>
      }
    </div>
  }
</div>
</div>
</div>
