<div class="table" [ngClass]="{ 'direct-message': isDirect }">
  <div class="table-cell imagebox" [ngClass]="{'not-allow-chat': !isAllowsChat}" (contextmenu)="onContextMenu($event)" style="cursor: context-menu; padding-left: 4px; padding-right: 2px">
    @if (!character) {
      <div class="imagebox">
        @if (0 < imageFile.url.length) {
          <img class="image face-icon" [src]="imageFile.url | safe: 'resourceUrl'" />
        }
      </div>
    } @else {
      @if (isUseFaceIcon && character && character.faceIcon != null && 0 < character.faceIcon?.url?.length) {
        <div class="imagebox">
          <img class="image face-icon" [src]="character.faceIcon?.url | safe: 'resourceUrl'" />
        </div>
      } @else {
        @if (character && character.imageFile != null && 0 < character.imageFile.url.length) {
          <div class="inverser" [ngClass]="{inverse: character.isInverse, hollow: character.isHollow}">
            <span class="aura imagebox" [ngClass]="{black: character.aura == 0, blue: character.aura == 1, green: character.aura == 2, cyan: character.aura == 3, red: character.aura == 4, magenta: character.aura == 5, yellow: character.aura == 6, white: character.aura == 7}">
              <img class="image" [src]="character.imageFile.url | safe: 'resourceUrl'" [ngClass]="{'black-paint': character.isBlackPaint}" />
            </span>
          </div>
        }
      }
    }
  </div>
  <div class="table-cell">
    <div class="ff-flex">
      <label style="margin-right: 2px">
        @if (character) {
          <input type="checkbox" [(ngModel)]="isUseFaceIcon" checked="{{isUseFaceIcon ? 'checked' : ''}}" (change)="isUseFaceIcon = (isUseFaceIcon ? true : false)" />
        }
        @if (character) {
          <b style="font-size: smaller">大頭照 icon</b>
        }
      </label>
      <span style="white-space: nowrap">
        <select [style.max-width]="character ? '10em' : '13em'" [ngClass]="{'not-allow-chat': !isAllowsChat}" [(ngModel)]="sendFrom" (change)="onChangeSendFromList()" [ngStyle]="{'color': color, 'font-weight': (sendFrom != myPeer?.identifier ? 'normal' : 'bolder')}">
          @if (!onlyCharacters) {
            <option value="{{myPeer?.identifier}}" [style.color]="myColor" style="font-weight: bolder;">{{myPeer?.name}}（你）</option>
          }
          @for (gameCharacter of gameCharacters; track gameCharacter) {
            <option style="font-weight: normal" [style.color]="gameCharacter.chatPalette && gameCharacter.chatPalette.color && gameCharacter.chatPalette.color != '#ffffff' ? gameCharacter.chatPalette.color : '#444'" value="{{gameCharacter.identifier}}">{{gameCharacter.name}}</option>
          }
        </select>
        @if (character) {
          <button class="indicate ff-button speech-bubble-indicate" [title]="isUseStandImageOnChatTab ? '在聊天「」中的文字以💭顯示' : '目前分頁不支援💭'" [ngClass]="{'is-active': isUseChatBalloon}" (click)="isUseChatBalloon = !isUseChatBalloon">
            <i class="material-icons" style="font-size: 0.8em">{{ isUseChatBalloon && isUseStandImageOnChatTab ? 'textsms' : 'speaker_notes_off'}}</i>
          </button>
        }
      </span>
      <span style="white-space: nowrap">
        <span style="display: inline-block; margin: auto 2px; text-align: center">➡</span>
        <select style="max-width: 9.5em" [(ngModel)]="sendTo" [ngClass]="{'not-specified': sendTo == ''}" [ngStyle]="{'color': (sendTo == '' ? null : sendToColor), 'font-weight': (sendTo == '' ? 'normal' : 'bolder')}">
          <option value="" class="not-specified">全體</option>
          @for (peer of otherPeers; track peer) {
            <option value="{{peer.identifier}}" [style.color]="peer.color" style="font-weight: bolder;">{{peer.name}}
              @if (peer === myPeer) {
                （你）
              }
            </option>
          }
        </select>
      </span>
      <span style="white-space: nowrap">
        @if (diceBotInfosIndexed.length > 0) {
          <select #select style="width: 11em;" (change)="loadDiceBot(select.value)" [(ngModel)]="gameType" [ngModelOptions]="{standalone: true}"
            [ngClass]="{'not-specified': gameType == 'DiceBot' || gameType == ''}">
            <option value="DiceBot" class="not-specified">未指定骰子機器人</option>
            @for (group of diceBotInfosIndexed; track group) {
              <optgroup class="dice-bot-group" label="{{group.index}}">
                @for (diceBotInfo of group.infos; track diceBotInfo) {
                  <option value="{{diceBotInfo.id}}">{{diceBotInfo.game}}</option>
                }
              </optgroup>
            }
          </select>
        }
        @if (diceBotInfosIndexed.length < 1) {
          <select #select style="width: 11em;" (change)="loadDiceBot(select.value)" [(ngModel)]="gameType" [ngModelOptions]="{standalone: true}" disabled
            [ngClass]="{'not-specified': gameType == 'DiceBot' || gameType == ''}">
            <option value="DiceBot" class="not-specified">骰子機器人載入中…</option>
          </select>
        }
        <button class="ff-button dicebot-help" style="cursor: help" (click)="showDicebotHelp()">?</button>
      </span>
    </div>
    @if (hasStand) {
      <div [ngClass]="{'disabled-stand': !isUseStandImageOnChatTab}" style="font-size: smaller; margin-top: 1px" [title]="isUseStandImageOnChatTab ? '' : '目前分頁不支援立繪'">
        <span style="font-size: medium">
          <button class="indicate ff-button stand-indicate" style="font-size: 0.8em; padding: 1px; height: 1.3rem; width: 1.3rem; margin-left: 2px; margin-right: 2px" [title]="isUseStandImageOnChatTab ? '顯示立繪' : '目前分頁不支援立繪'" [ngClass]="{'is-active': isUseStandImage}" (click)="isUseStandImage = !isUseStandImage">
            <i class="material-icons" style="font-size: 12px; overflow: hidden; vertical-align: text-bottom">{{ isUseStandImageOnChatTab && isUseStandImage ? 'how_to_reg' : 'person_off'}}</i>
          </button>
        </span>
        <select style="width: 10em; margin-right: 3px" (change)="isUseStandImage = true" [(ngModel)]="standName" [ngModelOptions]="{standalone: true}" [ngClass]="{'not-specified': standName == ''}" [attr.disabled]="!isUseStandImageOnChatTab || !isUseStandImage ? '' : null" >
          <option value="" class="not-specified">未選取</option>
          @for (name of standNameList; track name) {
            <option value="{{name}}">{{name}}</option>
          }
        </select>
        <span style="white-space: nowrap; margin-left: 0.6em; display: inline-block">
          <b style="font-size: smaller;">Pos: </b><input style="width: 176px" (change)="isUseStandImage = true" type="range" min="0" max="100" [(ngModel)]="character.standList.position" [attr.disabled]="!isUseStandImageOnChatTab || !isUseStandImage ? '' : null">
          <input style="width: 3em; text-align: right; margin-right: 3px;" type="number" min="0" max="100" (change)="isUseStandImage = true" [(ngModel)]="character.standList.position" [attr.disabled]="!isUseStandImageOnChatTab || !isUseStandImage ? '' : null"><b style="font-size: smaller;">％</b>
        </span>
        <button style="margin-left: 0.6em; font-size: smaller;" type="button" (click)="farewellStand()">退場</button>
      </div>
    }
    <div>
      <form>
        @if (onlyCharacters) {
          <input type="color" style="width:2.5em; height:1.4em; margin-left: 3px; vertical-align: middle; cursor: pointer" [(ngModel)]="paletteColor" [ngModelOptions]="{standalone: true}">
        }
        <textarea class="chat-input" [placeholder]="!onlyCharacters ? '⇅:歷史(空白時) ↵:發送 Shift+↵:換行　優先使用聊天面板顏色' : '⇅:歷史(空白時) ↵:發送 Shift+↵:換行　白(255,255,255):你的顏色'" [(ngModel)]="text"
          [ngModelOptions]="{standalone: true}" (input)="onInput()" (focus)="isFilterTextUpdate = true" (blur)="isFilterTextUpdate = false"
          (keydown)="onChatKeydown($event)" [disabled]="!isAllowsChat"
        #textArea></textarea>
        <button type="submit" (click)="sendChat(null)" [disabled]="!isAllowsChat"><b>SEND</b></button>
      </form>
    </div>
    <div class="writing-info">
      @if (0 < writingPeerNameAndColors.length) {
        @for (peerNameAndColor of writingPeerNameAndColors; track peerNameAndColor; let i = $index) {
          <div style="display: inline; white-space: pre">
            @if (peerNameAndColor.imageUrl) {
              <div class="cover mini-icon" [style.background-image]="'url(' + peerNameAndColor.imageUrl + ')' | safe: 'style' "></div>
            }
            <div style="display: inline"><span style="font-weight: bold" class="peer-name" [style.color]="peerNameAndColor.color | safe: 'style'">{{peerNameAndColor.name}}</span>@if (writingPeerNameAndColors.length !== (i + 1)) {
            <span style="user-select: none">, </span>
          }</div>
        </div>
      }
      正在輸入...
    }
  </div>
</div>
</div>
