<div class="log" [style.minHeight.px]="minScrollHeight" #logContainer>
  <div class="virtual-scroll-container" [style.marginBottom.px]="bottomSpace" #messageContainer>
    @if (!isEmpty) {
      @for (chatMessage of chatMessages; track trackByChatMessage($index, chatMessage)) {
        @if (chatMessage.isDisplayable) {
          <chat-message [chatMessage]="chatMessage" [compact]="compact" [@.disabled]="compact || checkAnimated(chatMessage)"></chat-message>
        }
      }
    }
    @if (isEmpty) {
      @for (chatMessage of sampleMessages; track chatMessage) {
        <chat-message [chatMessage]="chatMessage" [compact]="compact" [@.disabled]="compact || checkAnimated(chatMessage)"></chat-message>
      }
    }
  </div>
</div>