@if (myPeer) {
  <div>
    <div style="display: flex; align-items: flex-end; margin-bottom: 4px">
      @if (myPeer.image) {
        <span class="image cover" [style.background-image]="'url(' + myPeer.image.url + ')' | safe: 'style' "
          (click)="changeIcon()" style="cursor: pointer">
        </span>
      }
      <div>
        <label style="display: inline-block; margin-bottom: 2px" [ngClass]="{'i-am-gm': isGMMode || isGMHold}"><b style="font-size: smaller"><input type="checkbox" name="i-am-gamemaster" value="I'm Gamemaster" checked="{{ isGMMode || isGMHold ? 'checked' : '' }}" (click)="onGMMode($event)">{{ isGMMode ? '目前為GM模式' : (isGMHold ? 'GM模式等待中' : '進入GM模式') }}</b></label><br />
        <button (click)="changeIcon()">變更玩家圖示</button>
      </div>
    </div>
    <div>
      你的顏色與暱稱：<input type="color" style="width:2.5em; height:1.4em; margin-right: 0.5em; vertical-align: middle; cursor: pointer" [(ngModel)]="myPeerColor">　<input [(ngModel)]="myPeerName" [style.color]="myPeerColor" style="font-weight: bolder;" placeholder="暱稱" /><br>
      <small>※最後使用的<b>圖示</b>、<b>顏色</b>、<b>暱稱</b>將儲存至瀏覽器。</small><br>
      <span style="font-size: smaller; margin-left: 1em">要重置顏色時請選擇白色(255,255,255)。</span>
    </div>
  </div>
}
<div>
  <div [ngClass]="{'cant-use-private-session': !canUsePrivateSession}">你的ID：
    <span>
      @if (networkService.isOpen) {
        <span class="id-input-container">
          <span class="id-spacer">{{ networkService.peer.userId }}</span>
          <input class="id-input" type="text" value="{{ networkService.peer.userId }}" readonly>
        </span>
        @if (isAbleClipboardCopy && canUsePrivateSession) {
          <button (click)="copyPeerId()" [disabled]="isCopied" title="複製到剪貼簿"><b class="material-icons" style="font-size: 1em; vertical-align: bottom">content_copy</b></button>
        }
        <span [@fadeInOut]="isCopied" class="copied" [style.color]="myPeerColor"> {{ isCopied ? '已複製到剪貼簿。' : '' }}</span>
      }
    </span>
    @if (!networkService.isOpen) {
      <span style="font-weight: bold">???</span>
    }
  </div>
</div>
@if (networkService.peer.isRoom) {
  <hr/>
  <div>房間名稱：
    <span>
      @if (networkService.isOpen) {
        <span class="id-input-container">
          <span class="id-spacer room-data">{{ networkService.peer.roomName }}/{{ networkService.peer.roomId }}</span>
          <input class="id-input room-data" type="text" value="{{ networkService.peer.roomName + '/' + networkService.peer.roomId }}" readonly>
        </span>
        @if (isAbleClipboardCopy) {
          <button (click)="copyRoomName()" [disabled]="isRoomNameCopied" title="複製到剪貼簿"><b class="material-icons" style="font-size: 1em; vertical-align: bottom">content_copy</b></button>
        }
        <span [@fadeInOut]="isRoomNameCopied" class="copied" [style.color]="myPeerColor"> {{ isRoomNameCopied ? '已複製到剪貼簿。' : '' }}</span>
      }
    </span>
  </div>
  @if (networkService.peer.password) {
    <div>
      密碼
      <label sytle="white-space: nowrap">
        <input name="show-hide-password" type="checkbox" value="Show Hides" class="show-hides" checked="{{ isPasswordOpen ? 'checked' : '' }}" (click)="onPasswordOpen($event)">
        <b class="material-icons show-hides" [ngClass]="{'red-eye': isPasswordOpen}" style="font-size: smaller">{{ isPasswordOpen ? 'visibility' : 'visibility_off' }}</b>：
      </label>
      <div style="display: inline">
        @if (isPasswordOpen) {
          <span class="id-input-container">
            <span class="id-spacer room-data">{{ networkService.peer.password }}</span>
            <input class="id-input room-data" type="text" value="{{ networkService.peer.password }}" readonly>
          </span>
        }
        @if (!isPasswordOpen) {
          <div style="display: inline" class="masked-password" draggable="false">{{ maskedPassword }}</div>
        }
        @if (isAbleClipboardCopy) {
          <button (click)="copyPassword()" [disabled]="isPasswordCopied || isRoomInfoCopied" title="複製到剪貼簿"><b class="material-icons" style="font-size: 1em; vertical-align: bottom">content_copy</b></button>
        }
        <span [@fadeInOut]="isPasswordCopied" class="copied" [style.color]="myPeerColor"> {{ isPasswordCopied ? '已複製到剪貼簿。' : '' }}</span>
        <br />@if (isAbleClipboardCopy) {
        <button style="margin-top: 2px; margin-left: 0px" (click)="copyRoomInfo()" [disabled]="isPasswordCopied || isRoomInfoCopied"><b class="material-icons" style="font-size: 1em; vertical-align: middle">content_copy</b><b style="margin-left: 2px; display: inline-block; font-size: smaller">複製房間資訊到剪貼簿</b></button>
        }<span [@fadeInOut]="isRoomInfoCopied" class="copied" [style.color]="myPeerColor"> {{ isRoomInfoCopied ? '已複製到剪貼簿。' : '' }}</span>
      </div>
    </div>
  }
  <div style="margin-top: 4px">
    <button style="margin-left: 0px" (click)="reregisterLobby()" [disabled]="isReregistering"><b class="material-icons" style="font-size: 1em; vertical-align: middle">meeting_room</b><b style="margin-left: 2px; display: inline-block; font-size: smaller">{{ isReregistering ? '處理中...' : '重新在房間列表顯示房間' }}</b></button>
  </div>
}
<hr/>
@for (peer of networkService.peers; track peer; let i = $index) {
  <div>
    @if (i == 0) {
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 4px;">
        <div style="font-weight: bold">與其他參加者的連線狀態<span class="health">（良好 </span><i class="material-icons health health-blue">sentiment_very_satisfied</i><span class="health"> ＞ </span><i class="material-icons health health-green">sentiment_dissatisfied</i><span class="health"> ＞ </span><i class="material-icons health health-yellow">mood_bad</i><span class="health"> ＞ </span><i class="material-icons health health-red">sentiment_very_dissatisfied</i><span class="health"> 不良）</span>：</div>
        @if (networkService.peer.isRoom && networkService.peerIds.length > 0) {
          <button style="padding: 4px 8px; margin-left: 8px; white-space: nowrap;" (click)="resyncRoomConnections()" [disabled]="isResyncingConnections">
            <b class="material-icons" style="font-size: 1em; vertical-align: middle">sync</b><b style="margin-left: 2px; font-size: smaller;">重新整理其他參加者的連線</b>
          </button>
        }
      </div>
    }
    <div class="peer-info">
      @if (!peer.isOpen) {
        <span>[連線中]</span>
      }
      <span>
        <span [ngClass]="{'is-gm-mode': findPeerIsGMMode(peer.peerId)}">
          <i class="{{'material-icons health ' + healthClass(peer.session.health)}}" style="margin-right: 2px">{{ healthIcon(peer.session.health) }}</i>
          <span style="margin-right: 3px">{{findUserId(peer.peerId)}}</span>
          [@if (findPeerImageUrl(peer.peerId)) {
          <span class="cover mini-icon" [style.background-image]="'url(' + findPeerImageUrl(peer.peerId) + ')' | safe: 'style'"></span>
          }<span><b [style.color]="findPeerColor(peer.peerId)">{{findPeerName(peer.peerId)}}</b></span>]
        </span>
      </span>
      <div class="session-info" [style.border-left-color]="findPeerColor(peer.peerId)">
        <span>連線狀態
          Grade:{{stringFromSessionGrade(peer.session.grade)}} ({{peer.session.description}})
          Health:{{(peer.session.health * 100).toFixed(0)}}%
          Speed:{{(peer.session.speed * 100).toFixed(0)}}%
        Ping:{{peer.session.ping.toFixed(1)}}ms</span>
      </div>
    </div>
  </div>
}
@if (!isGMMode && !isGMHold) {
  <div style="margin-top: 1px">
    @if (!networkService.peer.isRoom && canUsePrivateSession) {
      <input [(ngModel)]="targetUserId" placeholder="要連線的對象ID" name="targetUserId" [disabled]="isDisableConnect" />
      <button (click)="connectPeer()" [disabled]="!networkService.isOpen || targetUserId == null || targetUserId == '' || isDisableConnect">私人連線</button><br>
    }
    @if (networkService.peers.length < 1) {
      <button style="margin-left: 0px" (click)="showLobby()" [disabled]="!networkService.isOpen || isDisableConnect"><i class="material-icons" style="vertical-align: bottom">meeting_room</i>顯示大廳（房間列表）</button>
    }
  </div>
}
<div><span style="font-size: 12px;">{{help}}</span></div>
@if (!isGMMode && !isGMHold) {
  @if (!networkService.peer.isRoom) {
    @if (networkService.peers.length < 1 && canUsePrivateSession) {
      <div style="font-size: 12px">※使用私人連線時，請在應用程式外互相分享ID。</div>
    }
    @if (networkService.peers.length < 1) {
      <div style="font-size: 12px">※如需單人測試，建議開啟兩個瀏覽器視窗。</div>
    }
  }
  @if (networkService.peer.isRoom && canUsePrivateSession) {
    <div style="font-size: 12px">※使用房間功能時無法使用私人連線。</div>
  }
}
@if ((isGMMode || isGMHold) && canUsePrivateSession) {
  <div style="font-size: 12px">※GM模式中（含等待中）無法主動連線他人。</div>
}
