<div class="flex-container">
  <div class="flex-item no-grow">
    <div>
      <button style="margin: 0px 0px 2px 0px; font-size: smaller" (click)="add()">新增骰子機器人表</button>
    </div>
    <select #diceRollTableSelecter style="width: 14em;" size="15" (change)="onChangeDiceRollTable(diceRollTableSelecter.value)">
      <option *ngFor="let diceRollTable of diceRollTables" value="{{ diceRollTable.identifier }}" title="{{diceRollTable.name}}" [style.color]="diceRollTable.name == '' ? 'gray' : ''">{{ diceRollTable.name == '' ? '(無名骰子機器人表)' : diceRollTable.name }}</option>
    </select>
  </div>
  <div class="flex-item">
    <button style="float: right; cursor: help" (click)="helpDiceRollTable()">?</button>
    <ng-container *ngIf="!isEmpty && selectedDiceRollTable">
      <div style="font-size: smaller;">
        <div style="margin-bottom: 3px;">
          <b>name: </b> 
          <input style="width: 60%; min-width: 5em" [(ngModel)]="diceRollTableName" placeholder="Name" [attr.disabled]="!isEditable ? '' : null" />
        </div>
        <div>
          <span style="white-space: nowrap">
            <b>command: </b>
            <input style="width: 7em" [(ngModel)]="diceRollTableCommand" placeholder="Command" [attr.disabled]="!isEditable ? '' : null" />
          </span>
          <span style="white-space: nowrap; margin-left: 1em">  
            <b>dice: </b>
            <input style="width: 3.3em; text-align: center" [(ngModel)]="diceRollTableDice" placeholder="Dice" [attr.disabled]="!isEditable ? '' : null" />
          </span>
        </div>
      </div>
      <div>
        <textarea style="width: 100%; height: 20em; margin-top: 3px; resize: vertical;" placeholder="1:用:（冒號）分隔數字與結果&#13;&#10;2:結果2&#13;&#10;3:結果3&#13;&#10;4:…" [(ngModel)]="diceRollTableText" [attr.disabled]="!isEditable ? '' : null" ></textarea>
      </div>
      <hr/>
      <div>
        <ng-container *ngIf="!isDeleted">
          <button (click)="upTabIndex()">↑</button>
          <button (click)="downTabIndex()">↓</button>
          <div style="float: right">
            <!--
            <button [disabled]="isSaveing || !diceRollTables.length" (click)="saveAll()">
              <div style="position: relative;">
                <div [ngClass]="{'is-hidden': isSaveing}">全部儲存</div>
                <div *ngIf="isSaveing" class="progress">{{progresPercent}}%</div>
              </div>
            </button>
            -->
            <button [disabled]="isSaveing" (click)="save()">
              <div style="position: relative;">
                <div [ngClass]="{'is-hidden': isSaveing}">儲存</div>
                <div *ngIf="isSaveing" class="progress">{{progresPercent}}%</div>
              </div>
            </button>
            <button class="danger" (click)="delete()">刪除</button>
          </div>
        </ng-container>
        <ng-container *ngIf="isDeleted && selectedDiceRollTableXml">
          <button (click)="restore()">還原</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="isEmpty">
  <div style="font-size: 12px;">
    ※目前沒有骰子機器人表。
    <ng-container *ngIf="isDeleted && selectedDiceRollTableXml">
      <button (click)="restore()">還原</button>
    </ng-container>
  </div>
</ng-container>