<div class="image-box" style="position: relative" [appTooltip]="card" [cardState]="CardStateFront" [@flipCard]="card?.isFront ? 0 : 1">
  <div class="image" [ngClass]="{'reverse': card && card.rotate == 180, 'downside': card && !card.isFront  }" style="position: relative" [@reverseCard]="card.rotate">
    <img #cardImage [src]="card?.frontImage?.url | safe: 'resourceUrl'" (load)="onCardImageLoad()" style="position: absolute">
    <div class="text" style="z-index: 5; position: absolute"
      [style.width.px]="imageAreaRect.width" [style.height.px]="imageAreaRect.height" [style.left.px]="imageAreaRect.left" [style.top.px]="imageAreaRect.top"
      [ngStyle]="{transform: 'scale(' + imageAreaRect.scale + ')'}">
      <div [style.font-size.px]="cardFontSize" [style.color]="cardColor" [style.text-shadow]="textShadowCss" [innerHTML]="rubiedText | safe: 'html'"></div>
    </div>
  </div>
  <i *ngIf="card?.isFront" class="indicate-text">face-<br /><span class="initial" style="padding-left: 3px">U</span>p</i>
  <div class="image" style="position: relative">
    <img [src]="card?.backImage?.url | safe: 'resourceUrl'" style="position: absolute" [ngClass]="{'reverse': card && card.rotate == 180, 'downside': card && card.isFront }" [@reverseCard]="card.rotate">
    <i *ngIf="!card?.isFront" class="indicate-text"><span style="font-size: smaller">face-</span><br /><span class="initial" style="padding-left: 3px">D</span>own</i>
  </div>
</div>