<div class="flex-container">
  <div style="flex-grow: 0;">
    <form>
      <div class="chat-tab">
        <label *ngFor="let chatTab of chatMessageService.chatTabs">
          <input name="chat-tab" type="radio" value="{{chatTab.identifier}}" ng-control="options" [(ngModel)]="chatTabidentifier">
          <div><span [style.cursor]="chatTabidentifier != chatTab.identifier ? 'pointer' : ''" [style.color]="chatTab.name == '' && chatTabidentifier != chatTab.identifier ? 'gray' : ''">{{chatTab.name == '' ? '(無名のタブ)' : chatTab.name}}</span><i *ngIf="chatTab.isUseStandImage" class="material-icons small-font">how_to_reg</i><i *ngIf="chatTab.recieveOperationLogLevel > 0" class="material-icons small-font">history_edu</i><badge *ngIf="chatTab.hasUnread" class="badge" [count]="chatTab.unreadLength"></badge></div>
        </label>
      </div>
    </form>
    <chat-input [onlyCharacters]="true" [chatTabidentifier]="chatTabidentifier" 
    [(gameType)]="gameType" [(sendFrom)]="sendFrom" [(text)]="text" [(filterText)]="filterText" (chat)="sendChat($event)" #chatInput></chat-input>
    <div *ngIf="isEdit" class="edit-info" style="display: flex">
      <div style="width: calc(100% - 1.6em); text-align: center"><i class="material-icons" style="vertical-align: middle; font-size: 1.05rem">info_outline</i> チャットパレット編集中</div>
      <div style="width: 1.6em; text-align: right"><button style="padding: 2px 6px; vertical-align: baseline; font-size: x-small; height: 1.24rem" (click)="helpChatPallet()">?</button></div>
    </div>
  </div>
  <div *ngIf="!isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
    <select #chatPlette class="palette" style="overflow-y: auto;" size="5" (keydown.enter)="chatInputComponent.sendChat(null)" (input)="selectPalette(chatPlette.value)" (click)="clickPalette(chatPlette.value)">
      <ng-container *ngIf="palette">
        <ng-container *ngFor="let palette of palette.getPalette()">
          <option *ngIf="filter(palette)" value="{{palette}}" [style.color]="color">{{palette}}</option>
        </ng-container>
      </ng-container>
    </select>
  </div>
  <div *ngIf="isEdit" style="flex-grow: 1; height: 0; min-height: 100px;">
    <textarea class="palette" style="resize: none;" [(ngModel)]="editPalette" placeholder="チャットパレット"></textarea>
  </div>
  <div style="flex-grow: 0; padding-left: 0px; padding-top: 1px">
    <button type="submit" style="margin: 0px" (click)="toggleEditMode()">
      <span *ngIf="!isEdit">チャットパレット編集</span>
      <span *ngIf="isEdit">チャットパレット確定</span>
    </button>
  </div>
</div>
