@if (gameDataElement && !isNotApplicable && !(isHideText && (name == 'text' || name == 'fontsize' || name == 'color'))) {
  @if (gameDataElement.children.length < 1) {
    <!-- 有送出按鈕：block 佈局，按鈕全寬獨占一行，name/value 用 flex row -->
    @if (canSendToChat) {
      <div class="send-button-row">
        <button (click)="sendValueToChat()" title="送出至聊天室" class="send-button">► 送出至聊天室</button>
      </div>
      <div class="content-row">
        <div class="name-part">
          <ng-container *ngTemplateOutlet="nameCellContent"></ng-container>
        </div>
        <div class="value-part">
          <ng-container *ngTemplateOutlet="valueCellContent"></ng-container>
        </div>
      </div>
    }
    <!-- 沒有送出按鈕（編輯模式或非角色）：原本的 table-cell 結構 -->
    @if (!canSendToChat) {
      @if (isEdit) {
        <div class="table-cell table-cell_solid">
          <ng-container *ngTemplateOutlet="editButtons"></ng-container>
          <select #select (change)="setElementType(select.value)" [ngModel]="gameDataElement.type ?? ''">
            <option value="">通常</option>
            <option value="simpleNumber">數值</option>
            <option value="numberResource">資源</option>
            <option value="abilityScore">能力值</option>
            <option value="checkProperty">勾選</option>
            <option value="note">備注</option>
            <option value="url">参照URL</option>
          </select>
        </div>
      }
      <div class="table-cell table-cell_solid">
        <ng-container *ngTemplateOutlet="nameCellContent"></ng-container>
      </div>
      <div class="table-cell">
        <ng-container *ngTemplateOutlet="valueCellContent"></ng-container>
      </div>
    }
  }
  @if (0 < gameDataElement.children.length) {
    @if (isEdit) {
      <div class="table-cell table-cell_solid" style="vertical-align: top;">
        <ng-container *ngTemplateOutlet="editButtons"></ng-container>
      </div>
    }
    <div class="table-cell table-cell_inner-table" style="padding:0; width:0;"></div>
    <div class="table-cell_inner-table">
      <div class="table-cell_inner-table-title" [style.border-color]="isTagLocked && name === 'common' ? 'transparent' : ''">
        @if (isTagLocked && name != 'common') {
          <div style="padding: 2px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;">{{name}}</div>
        }
        @if (!isTagLocked) {
          <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;"
            size="1" [(ngModel)]="name" placeholder="Value" />
        }
      </div>
      @if (0 < gameDataElement.children.length) {
        <div class="table">
          @for (childElement of gameDataElement.children; track childElement) {
            <div game-data-element class="table-row"
            [gameDataElement]="$any(childElement)" [tabletopObject]="tabletopObject" [isEdit]="isEdit" [isTagLocked]="isTagLocked" [isHideText]="isHideText" [isNoLogging]="isNoLogging" [descriptionType]="descriptionType"></div>
          }
        </div>
      }
    </div>
  }
}

<!-- name 欄位內容（不含外層 div） -->
<ng-template #nameCellContent>
  @if (isTagLocked) {
    <span style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{name}}</span>
    @if (descriptionType === 'character' && name === 'height') {
      <br><span style="font-size: 0.4rem">0=依圖片</span>
    }
    @if (descriptionType === 'character' && (name === 'width' || name === 'depth')) {
      <br><span style="font-size: 0.4rem">0=依 size</span>
    }
  }
  @if (!isTagLocked) {
    <div class="hidden-spacer" style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{name}}</div>
    <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 0.9rem;" size="1"
      [(ngModel)]="name" placeholder="Value" />
  }
</ng-template>

<!-- value 欄位內容（不含外層 div） -->
<ng-template #valueCellContent>
  @if (isCommonValue) {
    @switch (gameDataElement.name) {
      @case ('opacity') {
        <input style="width:90%;" [style]="'font-size: 1.0em; min-width: 90px; width: 90%; --min: 0; --max: ' + value + '; --val:' + currentValue +';' | safe: 'style'"
          [(ngModel)]="currentValue" type="range" title="{{currentValue}}%" min="0" max="100" step="1" />
        <br />
        <input style="margin-left: 3.5em; width:4em; text-align:right;" type="number" min="0" max="100" step="1" size="1" [(ngModel)]="currentValue" placeholder="Opacity" /><b class="move" style="font-size: small">%</b>
      }
      @case ('color') {
        @if (gameDataElement.type === 'colors') {
          <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 6.5em" [style.color]="value" [style.background-color]="currentValue" [style.text-shadow]="colorSampleTextShadowCss"><input type="color" style="width: 1em" [(ngModel)]="value" /><div style="display: inline-block; box-sizing: border-box; width: calc(100% - 1em); text-align: center">{{value}}</div></label>
          <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 7.5em" [style.color]="value" [style.background-color]="currentValue" [style.text-shadow]="colorSampleTextShadowCss"><input type="color" style="width: 1em" [(ngModel)]="currentValue" /><div style="display: inline-block; box-sizing: border-box; width: calc(100% - 1em); text-align: center">({{currentValue}})</div></label>
        }
        @if (gameDataElement.type === 'color') {
          <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 6.5em" [style.color]="value" [style.text-shadow]="colorSampleTextShadowCss"><input type="color" style="width: 1em" [(ngModel)]="value" /> {{value}}</label>
        }
      }
      @default {
        <input style="width:90%;" [style]="'font-size: 1.0em; min-width: 90px; width: 90%; --min: 0; --max: ' + value + '; --val:' + currentValue +';' | safe: 'style'"
          [(ngModel)]="value" type="range" title="{{value}}" min="{{name === 'altitude' ? -12 : (name === 'fontsize' || name === 'length') ? 1 : 0}}" max="{{name === 'fontsize' ? 128 : 12}}" step="{{name === 'fontsize' ? 1 : 0.5}}" />
        <br />
        <input style="width:35%; max-width:4em; text-align:right;" type="number" min="{{name === 'altitude' ? -24 : (name === 'fontsize' || name === 'length') ? 1 : 0}}" step="{{name === 'fontsize' ? 1 : 0.1}}" size="1" [(ngModel)]="value" placeholder="Value" />
        @if (descriptionType === 'character' && name === 'height') {
          <div style="color: #444; font-family: Cambria, Georgia; font-size: 0.9rem; display: inline-block; margin-left: 3px"><label [style.text-decoration]="currentValue ? 'none' : 'line-through'">× size<input type="checkbox" [(ngModel)]="currentValue" checked="{{currentValue ? 'checked' : ''}}" (change)="currentValue = (currentValue ? name : '')"></label></div>
        }
      }
    }
  }
  @if (!isCommonValue) {
    @switch (gameDataElement.type) {
      @case ('simpleNumber') {
        <!-- size属性がないと小さくならない -->
        <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div>
        <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" type="{{isNum(value) ? 'number' : 'text'}}" style="width:40%; min-width: 3em; max-width:8em; text-align:right" size="1" [(ngModel)]="value" placeholder="Number" />
      }
      @case ('numberResource') {
        <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" [style]="'font-size: 1.0em; min-width: 90px; width: 90%; --min: 0; --max: ' + value + '; --val:' + currentValue +';' | safe: 'style'"
          [(ngModel)]="currentValue" type="range" title="{{currentValue}}" min="0" max="{{!isNum(value) ? 1000 : value}}" />
        <br>
          <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" style="width: 5em; text-align: right;" size="1" type="number" [(ngModel)]="currentValue" placeholder="Value" />
          /
          <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" style="width: 5em;" size="1" type="number" [(ngModel)]="value" placeholder="Value" />
        }
        @case ('abilityScore') {
          <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" style="width:40%; max-width:5em; text-align:right" type="{{isNum(value) ? 'number' : 'text'}}" size="1" [(ngModel)]="value" placeholder="Value">
          @if (isEdit) {
            <select class="modeifire-type" style="width:40%; max-width:5em" [(ngModel)]="currentValue">
              <option value="">無</option>
              <option value="div2">÷2</option>
              <option value="div3">÷3 SRS,LHZ</option>
              <option value="div4">÷4</option>
              <option value="div5">÷5</option>
              <option value="div6">÷6 SW</option>
              <option value="div10">÷10</option>
              <option value="DnD3">D&amp;D 3e～</option>
            </select>
          }
          @if (!isEdit && currentValue) {
            <span style="font-size: smaller;">{{'(' + (abilityScore >=0 ? '+' : '') + abilityScore + ')'}}</span>
          }
        }
        @case ('checkProperty') {
          <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" type="checkbox" [(ngModel)]="value" checked="{{value ? 'checked' : ''}}" (change)="value = (value ? name : '')">
          @if (isEdit) {
            <input style="width:50%; max-width:4em" type="text" size="1" [(ngModel)]="currentValue" placeholder="Option">
          }
          @if (!isEdit) {
            <span style="font-size: 1.0em; font-family: Cambria, Georgia; color: #555">{{checkValue}}</span>
          }
        }
        @case ('note') {
          <textarea style="width:100%; height:5em; min-width:50px; resize: bose; font-size: 0.8em;" [(ngModel)]="value" placeholder="Note"></textarea>
        }
        @case ('url') {
          <!-- size属性がないと小さくならない -->
          <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div>
          <span style="white-space: nowrap">
            <input type="url" style="width:calc(100% - 1.6rem); min-width:10px;" size="1" [(ngModel)]="value" placeholder="https://www.example.com" />
            <button style="width: 1.6rem" [attr.disabled]="!stringUtil.validUrl(value.toString()) ? '' : null" (click)="stringUtil.validUrl(value.toString()) ? openUrl(value) : false"><i class="material-icons" style="font-size: 1.0rem">{{ !stringUtil.validUrl(value.toString()) ? 'link_off' : (stringUtil.sameOrigin(value.toString()) ? 'link' : 'open_in_new') }}</i></button>
          </span>
        }
        @default {
          <!-- size属性がないと小さくならない -->
          <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div>
          @if (!(isHideText && isTabletopObjectName)) {
            <input style="width:100%; min-width:10px;" size="1" [(ngModel)]="value" placeholder="" />
          }
          @if (isHideText && isTabletopObjectName) {
            <span style="color: gray; font-size: 1.0em; font-family: Cambria, Georgia;">牌（裏面）</span>
          }
        }
      }
    }
  </ng-template>

  <ng-template #editButtons>
    <button (click)="addElement()"><i class="material-icons">add_circle</i></button>
    <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
    <br>
      <button (click)="deleteElement()"><i class="material-icons">remove_circle_outline</i></button>
      <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
    </ng-template>
